#backgroundPane {
    -fx-background-color: #d8feff;
}

#bookLoanLabel {
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-font-size: 40px;
}

.text-field {
    -fx-border-color: #2dadf8;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 4 8;

}

.header_pane {
    -fx-background-color: #ebd7d7;
    -fx-border-color: #3d85dc;
}

.datepicker {
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #2dadf8;
}

.date-picker .text-field {
    -fx-border-color: #2dadf8;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 4 8;
    -fx-font-size: 13px;
    -fx-border-width: 1px;
}

#stackpaneStatus {
    -fx-border-radius: 5;
}

#pendingStatusLabel {
    -fx-font-weight: bold;           
    -fx-background-color: #c97cf6;  
    -fx-text-fill: #3e3e3e;
    -fx-border-radius: 5; 
    -fx-background-radius: 15;
}

#borrowingStatusLabel {
    -fx-font-weight: bold;           
    -fx-background-color: #5bef4b;  
    -fx-text-fill: #3e3e3e;
    -fx-border-radius: 5; 
    -fx-background-radius: 15;
}

#returnedStatusLabel {
    -fx-font-weight: bold;           
    -fx-background-color: #5675f3;  
    -fx-text-fill: #3e3e3e;
    -fx-border-radius: 5; 
    -fx-background-radius: 15;
}

#backButton {
    -fx-background-color: #0575bc;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#backButton:hover {
    -fx-background-color: #3864ca;
}

#exportButton {
    -fx-background-color: #42d508;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#exportButton:hover {
    -fx-background-color: #027213;
}