#pendingLabel {
    -fx-font-weight: bold;
    -fx-text-fill: purple;
}

#borrowingLabel {
    -fx-font-weight: bold;
    -fx-text-fill: rgb(16, 255, 8);
}

#returnedLabel {
    -fx-font-weight: bold;
    -fx-text-fill: rgb(16, 8, 255);
}