#ChangePasswordPage {
    -fx-background-color: rgb(255, 255, 255);
}

#InfoPane {
    -fx-background-color: rgb(24, 245, 253);
    -fx-background-radius: 15px;
}

#ContactPane {
    -fx-background-color: rgb(252, 250, 138);
    -fx-background-radius: 15px;
}

.TitleNameLabel {
    -fx-font-weight : bold;
    -fx-font-size: 17px
}

.layoutField {
    -fx-background-color: #ffffff;
    -fx-border-color: #4a90e2;
    -fx-border-width: 1;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.layoutField:focused {
    -fx-border-color: #1d3ec4; /* darker blue on focus */
}

#changePasswordBackButton {
    -fx-background-color: #23f2f9;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#changePasswordBackButton:hover {
    -fx-background-color: #027973;
}

#SaveChangePasswordButton {
    -fx-background-color: #0575bc;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#SaveChangePasswordButton:hover {
    -fx-background-color: #022678;
}