#ChangePasswordPage {
    -fx-background-color: #e6f2ff;
}

#currentPasswordLabel, #newPasswordLabel, #confirmNewPassworrdLabel {
    -fx-text-fill: #4a90e2; /* light blue for labels */
    -fx-font-size: 18px;
     -fx-font-weight: bold;
}

#currentPasswordField, #newPasswordField, #confirmNewPasswordField {
    -fx-pref-width: 250px;
    -fx-layout-x: 272;
    -fx-padding: 8px;
}

#pane_password {
    -fx-background-color: #fafafa; /* Nền sáng nhẹ */
    -fx-border-color: #ef5f5f; /* Viền xanh nhạt */
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0.2, 3, 3);
    -fx-padding: 20px;
    -fx-spacing: 15px;
}

/* TextField Style */
.layoutField {
    -fx-background-color: #ffffff;
    -fx-border-color: #4a90e2;
    -fx-border-width: 1;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.layoutField:focused {
    -fx-border-color: #1d3ec4; /* darker blue on focus */
}

#changePasswordBackButton {
    -fx-background-color: #23f2f9;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#changePasswordBackButton:hover {
    -fx-background-color: #027973;
}

#SaveChangePasswordButton {
    -fx-background-color: #0575bc;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#SaveChangePasswordButton:hover {
    -fx-background-color: #022678;
}