#background {
    -fx-background-color: white;
}

.textArea {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 10px;
    -fx-border-color: #2dadf8;
    -fx-border-radius: 10px;
    -fx-text-fill: #333333;
    -fx-padding: 1 2;
}