#userInfoBox {
    -fx-background-color: white;

}

#userButton {
    -fx-background-color: transparent; 
    -fx-text-fill: white;         
    -fx-background-radius: 50%;    
    -fx-padding: 10px 20px;        
    -fx-font-size: 14px;   
}

/* Base style for borderless buttons */
.button {
    -fx-background-color: #f9f9f9; /* Light gray to differentiate from box */
    -fx-text-fill: #000000; /* Black text */
    -fx-font-size: 14px; /* Medium font size */
    -fx-padding: 10px 20px; /* Spacing inside the button */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 2); /* Subtle shadow for depth */
    -fx-transition: all 0.3s ease; /* Smooth transitions */
}

/* Hover effect */
.button:hover {
    -fx-background-color: #e6e6e6; /* Slightly darker gray for hover feedback */
    -fx-cursor: hand; /* Pointer cursor on hover */
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: #dcdcdc; /* Darker gray on click */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 1); /* Stronger shadow on click */
}
