Pane {
    -fx-background-color: #167dc2;
}

Button {
    -fx-background-color: #167dc2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;

}

Button:hover {
    -fx-background-color: #3c97d4;
}

Button:pressed {
    -fx-background-color: #1abc9c;
}