.custom-button {
    -fx-background-color: white;
    -fx-text-fill: #0b9710;
    -fx-border-color: #0b9710;
    -fx-background-radius: 5px;
    /* Bo góc */
    -fx-border-radius: 3px;
    /* Bo góc viền */
}

/* Thay đổi màu nền khi hover */
.custom-button:hover {
    -fx-background-color: #d3d3d3;
    /* Màu nền khi hover */
}