/* General Button Style */
.button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: #848080;
  -fx-font-size: 10px;
  -fx-padding: 0;
  -fx-cursor: hand;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.button:hover {
  -fx-background-color: #fb2727;
  -fx-text-fill: #333333;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.pane {
  -fx-background-color: #b7f4f6;
}