/* CSS for buttons */
.button {
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-background-radius: 5px;
}

#statusButton {
    -fx-background-color: #008125;
    -fx-text-fill: white;
}

#detailButton {
    -fx-background-color: #686868;
    -fx-text-fill: white;
}

#deleteButton {
    -fx-background-color: #d1192c;
    -fx-text-fill: white;
}

#updateButton {
    -fx-background-color: #e5b218;
    -fx-text-fill: rgb(26, 26, 26);
}