/* Áp dụng cho Pane chứa User Information */
.user-info-pane {
    -fx-padding: 20px;
    -fx-background-color: #f0f0f5;
    -fx-background-radius: 10px;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

/* css cho màu nền */
.pane {
    -fx-background-color: #d8feff;
}


/* css cho textfiled */
.text-field {
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 10;
    -fx-border-color: #2dadf8;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
}

.text-field:focused {
    -fx-border-color: #1d3ec4;
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(29, 62, 196, 0.3), 5, 0, 0, 1);
}

.text-field:hover {
    -fx-border-color: #3b82f6;
    -fx-border-width: 2px;
}

/* TableView */
.table-view {
    -fx-background-color: #d8feff;
    -fx-border-color: #23a9fa;
    -fx-border-width: 2.5;
}

/* CSS cho button importDataButton */
#importDataButton {
    -fx-background-color: #06e186;
    -fx-background-radius: 4px;
    -fx-text-fill: #000000;
    -fx-border-radius: 4;
    -fx-border-color: #06e186;
}

#importDataButton:hover {
    -fx-background-color: #45e5a3;
    -fx-border-color: #45e5a3;
    -fx-cursor: hand;
}